---
import Card from "./Card/index.astro";
---

<Card 
  colSpan="lg:col-span-2" 
  rowSpan="md:row-span-2" 
  title="View my Projects"
  href="/projects">
  <p class="text-md xl:text-5xl xl:whitespace-nowrap w-50 xl:w-100 h-[calc(100%-28px)] font-serif flex justify-center items-center"
    >
  </p>
</Card>
